Binding/bin/
Binding/obj/
ConsoleFramework/bin/
ConsoleFramework/obj/
Examples/bin/
Examples/obj/
TestProject1/bin/
TestProject1/obj/
Xaml/bin/
Xaml/obj/
build/
ConsoleFramework.suo
.idea/
ConsoleFramework.userprefs
.idea.ConsoleFramework/riderModule.iml
.vs/ConsoleFramework/v15/.suo
ConsoleFramework.v12.suo
